[Unit]
# /etc/systemd/system/stac_api_ex.service
Description=stac_api_ex

[Service]
User=stacapi
EnvironmentFile=/home/stacapi/run/.env
Environment=LANG=en_US.utf8
WorkingDirectory=/home/stacapi/run
ExecStart=/home/stacapi/run/_build/prod/rel/stac_api/bin/stac_api start
ExecStop=/home/stacapi/run/_build/prod/rel/stac_api/bin/stac_api stop
KillMode=process
Restart=on-failure
LimitNOFILE=65535
SyslogIdentifier=stac_api_ex

[Install]
WantedBy=multi-user.target